html, body, footer {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

.content-wrapper {
    display: block;
}

.image-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lg-padding{
	padding:120px 0 120px 0;
}

.no-padding {
    padding: 0;
}

.sm-padding {
    padding: 15px 0 15px 0;
}

.md-padding {
    padding: 60px 0 60px 0;
}

#home {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: relative;
    opacity: 1;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60vh;
    letter-spacing: 0px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    padding: auto 15px;
    color: #000000;
    opacity: 1;
}

.header h4 {
    margin-top: 60px;
    font: normal normal normal 16px/19px Roboto;
}

.hero-image{
    width: 100%;
    object-fit: cover;
}

section .head{
    text-align: center;
    margin: auto 28%;
}

section h1{
    font: normal normal bold 30px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

section h2 {
    font: normal normal bold 30px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform:capitalize !important;
}

section p {
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

section ul li {
    list-style-type: none;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.ndb-btn{
    display: inline-block;
    color: #fff;
    background: #CC7E32 0% 0% no-repeat padding-box;
    opacity: 1;
    border: none;
    outline: none;
    text-shadow: none;
    margin-left: 0px;
    padding: 15px 30px;
    cursor: pointer;
    text-align: left;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.content-image{
    object-fit: cover;
}

.apply {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
}

.enquiries {
    background: #F4F4FF 0% 0% no-repeat padding-box;
    border: 1px solid #1217DD;
    opacity: 1;
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer h4{
    text-align: center;
    font: normal normal normal 14px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

p b {
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    section .head {
        margin: auto !important;
    }

    section {

    }
}